<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Para poder trabajar con thymeleaf -->
<head>
<meta charset="UTF-8">
<title>Pagina Principal</title>
</head>
<body>

<!-- 
	<h1 th:text="${mensaje}"></h1>
	<h2>Hoy es: [[${fecha}]]</h2> 
-->

 <h1>Bienvenido a EmpleosAPP</h1>
 <hr>
 <h2>Oferta de trabajo</h2>
 <h3 th:text=" 'Puesto: ' + ${nombre} "></h3>
 <h3 th:text=" 'Fecha Publicación: ' + ${fecha} "></h3>
 <h3 th:text=" 'Salario Ofrecido: ' + ${salario} "></h3>
 <h3 th:text=" 'Oferta Vigente: ' + ${vigente} "></h3>
 


</body>
</html>